<article>
  <a href="/dashboard"> &larr; Back To Dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="editpostform">
    <div>
      <input name="posttitle" type="text" size="80" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="posttext" type="text">{{post.post_text}}</textarea>
    </div>
    <div>
    <button type="submit">Save Post</button>
    <button type="button" class="deletepostbtn">Delete Post</button>
    </div>
  </form>
</article>

<form class="textareaform">
  <div>
    <textarea name="textareabody"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="../public/js/editpost.js"></script>
<script src="../public/js/deletepost.js"></script>
<script src="../public/js/"></script>