<form class="loginform">
    <div>
        <label for="emaillogin">Email:</label>
        <input type="text" id="emaillogin">
    </div>
    <div>
        <label for="passwordlogin">Password:</label>
        <input type="password" id="passwordlogin">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div class="signup">
        Don't have an account yet? Don't worry, <a href="/signup">sign up now!</a>
    </div>
    <script src="../public/js/login.js"></script>
</form>