<form class="signupform">
  <div>
    <label for="usernamesignup">Username:</label>
    <input type="text" id="usernamesignup" />
  </div>
  <div>
    <label for="emailsignup">Email:</label>
    <input type="text" id="emailsignup" />
  </div>
  <div>
    <label for="passwordsignup">Password:</label>
    <input type="password" id="passwordsignup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<!-- javascript file-->
<script src="../public/js/signup.js"></script>