<section>
  <h2>Create New Post</h2>

  <form class="newpostform">
    <div>
      <label for="posttitle">Title</label>
      <input type="text" id="posttitle" size="80" name="posttitle" />
    </div>
    <div>
      <label for="posttext">Content</label>
      <textarea name="posttext"></textarea>
    </div>
    <button type="submit" class="btn">Create Post</button>
  </form>
</section>

<script src="../public/js/addpost.js"></script>