:root {
    --primary-color: #eb3188;
    --hover-color: #f0b0ce;
}

*{
    box-sizing: border-box;
}

body, html, input, textarea {
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: var(---hover-color);
}

.blogtitle {
    font-size: 25px;
    margin: 25px; 
    padding: 10px; 
    color: var(--hover-color);
}

.createbtn {
    flex-wrap: wrap;
    justify-content: center;
}

.createbtn:hover{
    color:white;
}

button {
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
}

button:hover{
    background-color: var(--hover-color);
}

.homepage {
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.postlist {
    margin: 0;
    padding: 0;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 15px;
}

main {
    flex: 1;
}

.container {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 16px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: var(--primary-color);
}

.btn-no-style:hover {
    background: none;
    color: var(--hover-color);
}

.deletepostbtn {
    background-color: #f21717;
}

.newpostform input {
    width: 300px;
}

.editpostform {
    margin-bottom: 5%;
}

footer {
    display: flex;
    justify-content: center;
}