:root {
    --primary-color: #eb3188;
    --hover-color: #f0b0ce;
}

*{
    box-sizing: border-box;
}

body, html, input, textarea {
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: var(---hover-color);
}

.blogtitle {
    font-size: 25px;
    margin: 25px; 
    padding: 10px; 
    color: var(--hover-color);
}

.createbtn {
    flex-wrap: wrap;
    justify-content: center;
}

.createbtn:hover{
    color:white;
}

button {
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
}

button:hover{
    background-color: var(--hover-color);
}

.postlist {
    margin: 0;
    padding: 0;
}